body{
    padding:0;
    margin:0;
}

.fond{
    background:rgba(0, 0, 0, 0.9);
    width: 100%;
    position:fixed;
    height:100%;
    display:none;
    z-index:1000;
}

.contconnexion{
    position:relative;
    background-color:#29a3a3;
    border-radius:5px;
    height:95%;
    top:50%;
    transform:translate(-50%,-50%);
    max-width:900px;
    left:50%;
    width:98%;
}

.logoconnexion{
    display:block;
    margin-left:50%;
    transform:translate(-50%);
    padding-top:30px; 
}

.croix{
    position:absolute;
    top:5px;
    right:5px;
    width:10px;
    cursor:pointer;
}

.compte{
    border-right:1px solid white;
    width:50%;
    padding-bottom:40px;
    float:left;
    margin-top:30px;
}

.pascompte{
    border-left:1px solid white;
    width:50%;
    float:left;
    padding-bottom:40px;
    margin-top:30px;
}

.buttonconnect{
    width:300px;
    font-size:12px;
    height:37px;
    border:none;
    border-radius:3px;
    font-family:Arial;
    display:block;
    margin-left:50%;
    transform:translate(-50%);
    margin-top:20px;
    color:white;
    background-color:#006666;
    cursor:pointer;
    font-weight:bold;
}

.searchbarconnexion{
    width:300px;
    font-size:12px;
    resize:none;
    overflow: hidden;
    height:37px;
    padding-top:4px;
    padding-left:15px;
    border:none;
    border-radius:3px;
    font-family:Arial;
    display:block;
    margin-left:50%;
    transform:translate(-50%);
    margin-top:20px;
}

.titleconnexion{
    padding-bottom:5px;
    color:white;
    font-family:arial;
    font-size:25px;
    margin-left:50%;
    transform:translate(-50%);
    font-weight:bold;
    padding-top:20px;
    text-align:center;
    width:100%;
}

@media(max-height:557px){
    .fond{
        max-height:100%;
        overflow-y: scroll;
    }
    .contconnexion{
        top:10px;
        transform:translate(-50%,0%);
        min-height:550px;
        margin-bottom:10px;
    }
}


/*fin page de connexion*/

.entete{
    width:100%;
    height:340px;
    background-color:#29a3a3;
    position:relative;
    display:block;
}

.burgerright{
    position:absolute;
    height:80%;
    right:0px;
    bottom:5%;
}

.logo{
    position:absolute;
    left:0;
    width:110px;
    top:5px;
    cursor:pointer;
}

.contglob{
    width:60%;
    margin-left:20%;
    height:100%;
    position:relative;
}

.sloganheader{
    display:block;
    transform:translate(0%,0%);
    color:white;
    font-family:Arial;
    font-size:24px;
    margin:0;
}

.contfind{
    padding:0;
    display:inline-block;
    position:absolute;
    top:50%;
    transform:translate(0%,-50%);
}

.searchbarheader{
    width:300px;
    font-size:12px;
    resize:none;
    overflow:hidden;
    height:37px;
    padding-top:10px;
    padding-left:15px;
    margin-top:20px;
    border:none;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    float:left;
    font-family:Arial;
    letter-spacing:0.8px;
}

.searchbuttonheader{
    height:37px;
    margin:0;
    background-color:#62376C;
    display:inline-block;
    border:none;
    float:left;
    margin-top:20px;
    width:36px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    cursor:pointer;
}

.searchbuttonheader:hover{
    background-color:#523559;
}

.searchicone{
    width:10px;
    height:10px;
    margin-top:-5px;
}

.buttonheaderright{
    height:38px;
    position:absolute;
    right:0px;
    top:5px;
    background-color:white;
    border:none;
    border-radius:3px;
    display:inline-block;
}

.connectbutton{
    height:30px;
    margin-top:4px;
    background-color:#29a3a3;
    border-radius:3px;
    margin-left:4px;
    margin-right:10px;
    border:none;
    color:white;
    font-family:Arial;
    float:left;
    cursor:pointer;
    font-size:12px;
    padding-left:15px;
    padding-right:15px;
    font-weight:bold;
}

.connectbutton:hover{
    background-color:#196666;
}

.buttonlanguage{
    display:inline-block;
    height:25px;
    margin-top:7px;
    float:left;
    cursor:pointer;
    padding-right:0px;
}

.buttonlanguage2{
    display:inline-block;
    height:25px;
    margin-top:7px;
    float:left;
    cursor:pointer;
    padding-right:7px;
}

/*fin de header*/

.contoptions{
    
    width:1152px;
    margin-left:50%;
    transform:translate(-50%);
    padding-bottom:48px;
    border-bottom:200px solid grey;
}


                                /* Plus d'options */
.titleoptions{
    font-size:40px;
    margin-top:48px;
    margin-bottom:20px;
    font-weight:bold;
    font-family:Arial;
}

@media(max-width:1169px){
    .contoptions{
        width:98%;
    }
}

.txtoptions{
    font-size:27px;
    font-weight:bold;
    padding:5px 10px;
    margin-right:16px;
    margin-top:16px;
    border-radius:5px;
    background-color:hsl(0, 0%, 98%);
    border:none;
    font-family:Arial;
}

.contglobtan{
    display:block;
    position:relative;
    background-color:white;
    border:1px solid black;
    width:100%;
    border-top:100px grey;
}

.conttan{
    
    width:1152px;
    margin-left:50%;
    transform:translate(-50%);
    border:1px solid black;
    display:inline-block;
    width:98%;
}



.titleconttan{
    font-size:40px;
    margin-bottom:40px;
    font-weight:bold;
    font-family:Arial;
    border:1px solid;
    padding-left:15px;
    
}

.colonne{
    width:100%;
    padding:0;
    display:block;
    margin:0;
    flex-wrap:wrap;
    margin-top:5px;
}

.bloc{
    list-style:none;
    text-align:left;
    display:table-cell;
    width:800px;
    padding-top:15px;
    padding-left:15px;
    position:relative;
    overflow:hidden;
    margin-left:15px;
    cursor:pointer;
}

.imagebloc{
    width:100%;
}

.bloctxttan{
    width:100%;
    display:inline-block;
    margin:0;
    position:relative;
    margin-top:-10px;
}

.bloctxttan::before{
    content:"";
    width:0;
    height:0;
    border-style: solid;
    border-width: 0 0 40px 400px;
    position:absolute;
    margin-top:-40px;
}

#bloc1tan::before{
    border-color: transparent transparent #ff5050 transparent;
}

#bloc1tan{
    background-color:#ff5050;
}

#bloc2tan::before{
    border-color: transparent transparent #ffa852 transparent;
}

#bloc2tan{
    background-color:#ffa852;
}

#bloc3tan::before{
    border-color: transparent transparent #ada4a4 transparent;
}

#bloc3tan{
    background-color:#ada4a4;
}

.titletan{
    color:white;
    font-size:40px;
    border:1px solid;
    position:absolute;
    margin:0;
    left:30px;
    font-weight:bold;
    font-family:Arial;
    top:25px;
}

            /* A la carte */
            
.card-img-top {
 /* height: 10em;  */
    width: 100%;
    min-height: 150px;
    overflow: hidden;
}
.img {  
    width: 100%;
    height: 100%;
}

.row {
    margin-top:30px;
}
.card {
   
    border: none;
    
}
.card-link {
    position: relative;
    margin-top: -10px;
    color:rgb(54, 201, 167);
    font-weight: bold;
    
}
.card-title{
    color:white;
    font-weight: bolder;
    margin-top:30px;
    text-align: center;
    font-size: 30px;
}
@media (max-width:768px){
    .contcarte{
        margin-top:70px;
    }
}
.card :hover a {
    color:black;
}

                                    /* Header */
.barphone{
    position:absolute;
    width:100%;
    display:block;
    height:40px;
    background-color:white;
    display:none;
}

.txtbarphone{
    display:inline-block;
    font-weight:bold;
    font-size:20px;
    height:40px;
    line-height:40px;
    margin-left:50%;
    transform:translate(-50%);
}

.burgerrightphone{
    position:absolute;
    height:200px;
    top:50px;
    left:50%;
    transform:translate(-69%);
    display:none;
}

.contfindphone{
    padding:0;
    display:none;
}

@media (max-width: 768px) {
    .logo {
      display: none;
    }
    .buttonheaderright{
        display:none;
    }
    .burgerright{
        display:none;
    }
    .burgerrightphone{
        display:inline-block;
        z-index:100;

    }
    .barphone{
        display:block;
        z-index:8;
        position:relative;
    }

    .contglob{
        display:none;
    }
    .contfind{
        display:none;
    }

    .contfindphone{
        display:inline-block;
        z-index:100;
        background-color:#2eb8b8;
        position:relative;
        width:100%;
        height:150px;
        padding-left:10%;
    }
    .searchbarheader{
        margin-left:10%;
        width:70%;
    }
    .sloganheader{
        font-size:18px;
        width:auto;
        font-weight:bold;
        margin-top:10px;
        text-align:left;
        margin-left:10%;
    }
    #container {
        display: flex;
        background-color:none;
        z-index:500;
        margin-top:150px;
        z-index:200;
    
      }
      
      #triangle-box {
        width:100%;
        position: relative;
        height:50px;
        z-index:200;
      }
      
      #triangle {
        /* THIS IS THE MAGIC: using the directional keywords instead
           of an angle in the linear gradient property*/
        background-image: linear-gradient(to left top, #2eb8b8 0%, #2eb8b8 50%, transparent 50%);
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index:200;
      }
  }

@media (max-width: 1100px) {
    .burgerright {
        right:-100px;
    }
    .contfind{
        left:-10%;
    }
    .sloganheader{
        width:90%;
    }
  }


  /*fin de header*/


  .contvla{
    width:100%;
    background-color:#ffe6e6;
    padding-top:50px;
    margin-top:20px;
    display:block;
}

.contmarg{
    width:1152px;
    margin-left:50%;
    transform:translate(-50%);
    margin-top:-40px;
}

.titlevla{
    font-size:38px;
    font-family:Arial;
    font-weight:bold;
    padding-left:15px;
    padding-top:40px;
}

.colonne{
    width:100%;
    padding:0;
    display:block;
    margin:0;
    flex-wrap:wrap;
    margin-top:5px;
}

.bloc{
    list-style:none;
    text-align:left;
    padding-left:15px;
    display:table-cell;
    width:800px;
    padding-top:15px;
}

.titlebloc{
    color:black;
    font-size:23px;
    font-family:Arial;
    margin:0;
    display:inline-block;
    margin-top:4px;
    font-weight:bold;
    width:210px;
}

.imagebloc{
    width:100%;
}

.txtbloc{
    font-size:15px;
    font-family:Arial;
    color:black;
    line-height:23px;
    margin-top:1px;
}

@media(max-width:1169px){
    .contmarg{
        width:98%;
    }
}

@media(max-width:768px){
    .bloc{
        display:block;
        width:95%;
    }

    .titlevla{
        font-size:23px;
        text-align:center;
    }
}

.contoptions{
    
    width:1152px;
    margin-left:50%;
    transform:translate(-50%);
    overflow:hidden;
    border:1px solid white;
}

.titleoptions{
    font-size:40px;
    margin-top:48px;
    margin-bottom:20px;
    font-weight:bold;
    font-family:Arial;
}

@media(max-width:1169px){
    .contoptions{
        width:98%;
    }
}

.txtoptions{
    font-size:27px;
    font-weight:bold;
    padding:5px 10px;
    margin-right:16px;
    margin-top:16px;
    border-radius:5px;
    background-color:hsl(0, 0%, 98%);
    border:none;
    font-family:Arial;
    cursor:pointer;
}

@media(max-width:768px){
    .txtoptions{
        font-size:20px;
        color:#0d0d0d
    }
    .titleoptions{
        font-size:27px;
        color:#0d0d0d;
    }
    .contoptions{
        padding-left:15px;
    }
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration:none;
    color:black;
}

/*fin de options*/





                        /* Section Tout chaud */

.blocalc{
    cursor:pointer;
}

.sushi {
    width: 100%;
    margin-top: 30px;
   }
  
   .business {
      margin-top: 30px;
   }
  
  .appstore {
      max-height: 50px;
      max-width: 150px;
  }
  .playstore {
      min-height: 50px;
      max-width: 150px;
  }
  
  .logodelivero {
      max-height: 250px;
      margin-top: 40px;
  }
  
  .blocappli {
      margin-top : 20px;
  }
  
  .top {
      margin-top:30px;
  }
  
  #toutchaud p {
      font-size: 16px;
  }
  
  #toutchaud h3 {
      font-size: 26px;
      font-weight: bold;
      display: block;
  }
  
  #toutchaud h1 {
      display: block;
  }
  
  .appli {
     width:100%;
     margin-top: 20px;
     
  }
  
  /* Small devices (tablets, 768px and up) */
  @media (max-width: 768px) { 
   .sushi {
        margin-top : 80px;
       width:100%;
  }
  
    .logodelivero {
      margin-top: 100px;
    }
}   


                                         /* Travaillez avec nous */ 
.conteneurtan{
    width:98%;
    padding-bottom:25px;
    max-width:1152px;
    margin-left:50%;
    transform:translate(-50%);
}

.tantitle{
    display:block;
    margin:0;
    margin-top:20px;
    margin-bottom:20px;
    font-size:27px;
    font-weight:bold;
    font-family:Arial;
    padding-left:25px;
}

.bloctan{
    display:table-cell;
    position:relative;
    overflow:hidden;
    padding-left:25px;
}

.bloctxttan{
    margin:0;
    margin-top:-28px;
    height:100%;
}

#tanbloc1{
    background-color:#ff4d4d;
}

#tanbloc2{
    background-color:#ff9933;
}

#tanbloc3{
    background-color:grey;
}

.imagetan{
    width:100%;
}

.titlebloctan{
    padding:15px 30px 0px 30px;
    color:white;
    font-weight:bold;
    font-family:Arial;
    font-size:33px;
    height:80px;
}

.txttan{
    padding:0px 30px 0px 30px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:20px;
    color:white;
}

.boutontan{
    margin-left:30px;
    border:none;
    background-color:#29a3a3;
    margin-bottom:30px;
    padding:15px;
    border-radius:4px;
    color:white;
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
    cursor:pointer;
}

.bloctxttan::before{
    content:"";
    width:0;
    height:0;
    border-style: solid;
    border-width: 0 0 40px 600px;
    position:absolute;
    margin-top:-38px;
}

#tanbloc1::before{
    border-color: transparent transparent #ff4d4d transparent;
}

#tanbloc2::before{
    border-color: transparent transparent #ff9933 transparent;
}

#tanbloc3::before{
    border-color: transparent transparent grey transparent;
}

.boutontan:hover{
    background-color:#1f7a7a;
}

@media(max-width:825px){
    .bloctan{
        display:block;
        margin-top:40px;
    }

    .titlebloctan{
        height:auto; 
        font-size:27px;   
    }
    .bloctxttan::before{
        margin-top:-140px;
        border-width: 0 0 140px 1000px; 
    }
    .conteneurtan{
        padding-right:25px;
    }
}
 /* Footer */

 .contfooter{
     width:100%;
     height:auto;
     background-color:#3a3a3a;
     position:relative;
 }

 .contcarre{
     display:flex;
     width:98%;
     max-width:1152px;
     margin-left:50%;
     transform:translate(-50%);
     padding-top:30px;
     padding-bottom:30px;
     text-align:center;
 }

 .carre{
     display:inline-block;
     flex-basis: 0;
     flex-grow:1;
     color:white;
     margin:0;
     width:23%;
     -webkit-box-orient: vertical;
     padding: 13px 24px;
     border-radius: 3px;
     -webkit-box-direction: normal;
     margin-right:10px;
     margin-left:10px;
     background-color:#575757;
     font-size:14px;
     text-align:left;
     font-family:Arial;
 }

 .titlecarre{
     font-weight:bold;
     display:block;
     width:100%;
     margin:0;
     padding-bottom:2px;
 }

 .txtcarre{
     display:block;
     width:100%;
     margin:0px;
     padding-bottom:2px;
     cursor:pointer;
 }

 .txtcarre:hover{
     color:#29a3a3;
 }

 .logofooter{
     height:50px;
     display:block;
     margin-top:5px;
     cursor:pointer;
 }

.contreseau{
    margin-left:100px;
    height:60px;
    margin-top:20px;
}
 .reseau{
     display:inline-block;
     border-radius:100px;
     width:40px;
     height:40px;
     cursor:pointer;
 }

 #facebook{
     background:url(images/social.svg) no-repeat 0 0;
     background-position: 14px -22px;
     background-size: 80px;
 }

 #facebook:hover{
     background-color:#0c233d;
     transition:1s;
 }

 #instagram{
    background:url(images/social.svg) no-repeat 0 0;
    background-position: -17px -22px;
    background-size: 80px;
}

#instagram:hover{
    background-color:#3796bb;
    transition:1s;
}

#twitter{
    background:url(images/social.svg) no-repeat 0 0;
    background-position: -49px -23px;
    background-size: 80px;
}

#twitter:hover{
    background-color:#832126;
    transition:1s;
}

@media(max-width:768px){
    .contcarre{
        overflow-x:scroll;
    }
    .carre{
        min-width:220px;
    }
}